*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: #fff;
}

.grid {
  width: 120rem;
  max-width: 100%;
  margin: 0 auto;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.app {
}
.header {
  background: linear-gradient(-180deg, #f53d2d, #f63);
  width: 100%;
  height: 11.9rem;
}
.header__navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.6rem;
}
.header__navbar-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}
.header__navbar-item a {
  color: #fff;
  font-size: 1.3rem;
}
.header__navbar-item-link--strong {
  position: relative;
}
.header__navbar-item-link--strong::after {
  content: "";
  position: absolute;
  right: -0.6rem;
  bottom: 0;
  width: 0.2rem;
  height: 100%;
  opacity: 0.4;
  background: #fff;
}
.header__navbar-item i {
  font-size: 1.6rem;
  color: #fff;
  padding: 0 0.5rem;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 20rem;
}
.header-with-search__logo-section {
  fill: #fff;
}
.fa-cart-shopping {
  color: #fff;
  font-size: 2.6rem;
}
.search-tag {
  flex: 1;
  padding: 0.6rem 0;
  margin: 0 5rem;
  font-size: 1.6rem;
  height: 100%;
  position: relative;
}
.search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.search-field input {
  width: 100%;
  padding: 1rem;
}
.fa-magnifying-glass {
  padding: 1rem 2.6rem;
  margin-right: 0.6rem;
  color: #fff;
  background: red;
}

.tag {
  position: absolute;
  left: 0;
  bottom: -2.5rem;
}
.tag ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  gap: 1rem;
  color: #fff;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 3rem;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1/3;
}
.two {
  grid-row: 1;
  grid-column: 3;
}
.three {
  grid-row: 2;
  grid-column: 3;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
}

/* Star NavBar */
.navbar-list {
  display: flex;
  justify-content: space-between;
  margin-top: 2.8rem;
}
.navbar-item {
  max-width: 10rem;
  text-align: center;
  transition: all 0.2s;
}
.navbar-item:hover {
  transform: translateY(-0.6rem);
  cursor: pointer;
}
.navbar-item span {
  font-size: 1.3rem;
}
.navbar-item img {
  height: 4.5rem;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* End NavBar */

/* Star Category */
.container {
  background: rgba(235, 233, 233, 0.349);
  padding-top: 1.7rem;
}
.CATEGORY {
  background: #fff;
}
.CATEGORY h2 {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  padding: 2rem;
}
.category-list {
  display: grid;
  grid-template-columns: repeat(11, auto);
}
.category-item {
  font-size: 1.3rem;
  text-align: center;
  min-width: 10rem;
  padding: 0.5rem;
}
.category-item:hover {
  transform: translateZ(0);
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
  cursor: pointer;
}
.boder-top {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.boder-bottom {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category-item:nth-child(11),
.category-item:nth-child(22) {
  border-right: none;
}
.category-item img {
  margin: 0 auto;
}
/* End Category */

/* Item */
.section-recommend-products .content {
  font-size: 2rem;
  color: rgb(238, 77, 45);
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 0;
  margin-bottom: 0.5rem;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.062);
  border: 1px solid;
}
.list-item {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1rem;
}
.item {
  border: 1px solid rgba(238, 77, 45, 0);
  transition: all 0.2s;
  text-align: center;
  position: relative;
  min-height: 25rem;
  background: #fff;
}
.item:hover {
  border: 1px solid rgb(238, 77, 45);
  transform: translateY(-0.6rem);
  cursor: pointer;
}
.item .item-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.item .item-content .title-item {
  font-size: 1.3rem;
  /* overflow: hidden; */
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item img {
  max-width: 18.8rem;
  margin: 0 auto;
}
.item .item-content .price {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ee4d2d;
}

footer {
  background-color: #fff;
  margin-top: 4rem;
  padding: 2rem 0;
}
footer .grid {
  display: flex;
  justify-content: space-between;
}
footer h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
}
footer ul {
  padding: 0;
}
footer ul li {
  font-size: 1.3rem;
  list-style: none;
  color: rgba(0, 0, 0, 0.54);
}

.arrow-up {
  /* display: inline-block; */
  padding: 2rem;
  background: #ee4d2d;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
  border-radius: 50%;
}
.arrow-up i {
  font-size: 1.6rem;
}
